.appfeat-desc {
  padding: 50px 15px 290px;

}


.appfeat-desc__inner {
  padding-right: 20px;
  padding-left: 20px;

}


.appfeat-desc__list {
  margin: 0;
  padding: 0;
  list-style: none;

}


.appfeat-desc__heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;


}


.appfeat-desc__text {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

}
