.apps__list  {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;

}


.apps__item,
.apps__item-link {
  display: inline-block;

}


.apps-desc__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  color: $secondary-color;
  text-align: center;

}
