.contest-message {
  padding: 45px 0 15px;

}


.contest-message__inner {
  padding-right: 20px;
  padding-left: 20px;

}


.contest-message__text {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 2.1;
  text-align: center;

}
