.photoshare__inner {
  padding-right: 20px;
  padding-left: 20px;

}


.photoshare__list {
  margin: 0;
  padding: 0;
  list-style: none;

}


.photoshare__imgfull-link {
  display: block;

}


.photoshare__img-prev {
  display: block;

}
