.upload-ph {
  background-color: $bg-secondary-shade;

}


.upload-ph__message {
  margin-bottom: 20px;
  padding: 30px 0 50px;
  background-color: $bg-secondary;

}


.upload-ph__message-inner {
  padding-right: 20px;
  padding-left: 20px;

}


.upload-ph__message-exclam {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

}


.upload-ph__message-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

}
