// ----- BACKGROUNDS
$bg-primary: #283645;                  //lightblue — dropdown-nav bg
$bg-primary-dark: #1d2631;            //darkblue
$bg-secondary: #ffffff;
$bg-secondary-shade: #f2f2f2;      //lightgrey

$bg-third: #e5e5e5;              //darkgrey
$bg-accent-primary: #d22856;
$bg-accent-secondary: #2aab6d;
$bg-accent-secondary-shade: #1c9b5e;



 // ----- BORDER COLORS
 $brdr-primary: #e5e5e5;               //table, form elements
 $brdr-secondary: #283645;            //active slider, tbl header, input hover, range slider
 $brdr-third: #ffffff;               //download btn
 $brdr-accent: #d22856;             //share btn, input active



 // ----- TEXT COLORS
$primary-color: #283645;       //headings, body-text, label + placeholder
$secondary-color: #ffffff;
$third-color: #000000;       // some subheadings
$accent-color: #d22856;     //form-headings







